body {
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 25% auto auto;
    grid-template-rows: auto 50%;
    justify-items: center;
}

.grid .login {
    justify-self: center;
    padding: 2%;

}

form {
    padding-bottom: 2%;
    padding-top: 2%;
    
}

a {
    color: #006699;

}

h2 {
    text-align: center;
}

.mainVideo{
    
}

.login{

}

.otherVideos{

}

#myVideo {
    border: 2px solid;
    width: 420px !important;
    height: auto !important;
}


