
* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}
body {
    background:  #1ddced;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    color: #006699;
}


.topbanner{
    margin: 3px;
    width: 100%;
    height: 45px;   
    border-bottom: 1px solid white;
}

.topbanner .logo{
    float: left;
    width: 70px;
    height: 45px;
    overflow: hidden;

}

.topbanner .logo img{
    width: 100%;
    height: 100%;
}

.topbanner .loginbutton{
    position: absolute;
    right: 0;
/*    width: 60px;
    height: 35px;*/
    margin: 10px 20px 10px 10px;
}

.grid {
    /*display: grid;*/
    width: 100%;
    height: 100%;
   /* grid-template-columns: 25% auto auto;
    grid-template-rows: auto 50%;
    justify-items: center;*/
}

.grid .login {
    width: 16%;
    height: 700px;
    border: 1px solid white;
    float: left;
    justify-self: center;
}


.grid .chatbox{
    position: relative;
    width: 60%;
    height: 700px;
    border: 1px solid white;
    float: left;
    min-height: 100px;
    min-width: 450px;
    background: #fff;
    box-shadow: 0 3px #ccc;
    /*justify-self: center;*/
    border-radius: 5px;
}

.grid .otherVideos{
    position: relative;
    width: 24%;
    height: 700px;
    border: 1px solid white;
    float: left;
    min-height: 450px;
    justify-self: center;
    border-radius: 5px;
    background-color: rgb(243, 239, 239);
}

/*feature boxes*/
.grid .chatbox .mainVideo{
    width: 100%;
    height: 75%;
    top:0px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #cccccc;
}

.userVideoContainer {
    position: relative;
    width: 100% ;
    height: 100%;
}
#myVideo {
 /*   border: 1px solid;
    width: 420px !important;
    height: auto !important;
    margin-left: 40px;
    margin-right: 5%;*/
    position: absolute;
    object-fit: fill;
    width: 100% ;
    height: 100%;
/*    margin-left: 40px;
    margin-right: 5%;*/

}

.login{
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(243, 239, 239);
    padding: 10px;
}


.btn {
    font-size: 10px !important;
    padding: 3px 6px !important;
}

/*Need to make the button in the center*/
.grid .chatbox .mainVideo #inCall {
    /*width: 100%;*/
    margin-left: 39px;
    margin-bottom: 4px;
    align-items: center;
}


.chatbox .chatlogs{
    padding:10px;
    width: 100%;
    height: 20%;
    border: 2px solid #96908a;
    border-radius: 5px;
    overflow-x :hidden;
    overflow-y :scroll; 
    background:#e5f7fc;
}
.chatlogs::-webkit-scrollbar {
    width: 10px;
}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius: : 5px;
    background: rgba(0,0,0,0.1);
}
.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.chat .photo{
    margin: 5px;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .photo img{
    width: 100%;
}

.chat .message{
    width: 93%;
    padding: 10px;
    margin: 5px 5px 0;
    background: #1ddced;
    border-radius: 10px;
    color:  #fff;
    font-size: 14px;
}

.friend .message {
    background: #1adda4;

}

.self .message {
    background: #1ddced;
    order: -1;
}

.chatbox .form{
    width: 100%;
    height: 5%;
    bottom: 5px;
    right: 5px;
    left:  5px;
    display: flex;
    align-items: flex-start ;
}

.form textarea {
    width: 90%;
    height: 100%;
    background: #5bf4f7;
    border: 1px solid #96908a;
    border-radius: 5px;
    resize: none;
    font-size: 18px;
    color: #333;
}

.form textarea:focus {
    background:#fff;
}

.form textarea::-webkit-scrollbar {
    width: 10px;
}
.form textarea::-webkit-scrollbar-thumb{
    border-radius: : 5px;
    background: rgba(0,0,0,0.1);
}

.form button{
    margin: 0 2px;
    width: 10%;
    height:  90%;
    background: #61b767;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 0 #0eb2c1;
    cursor:  pointer;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.form button:hover {
    background: #00ff14;
}

.otherVideos h2{
    text-align: center;
    font-size: 16 px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 5%;
}

.otherVideos #vid-box {
    width: 100%;
    height: 90%;
}

.otherVideos #vid-box .othercallers{
    width: 100%;
    height: 100%;
    overflow-x :hidden;
    overflow-y :scroll; 
    padding: 0px 0px 0px 0px;
}

.otherVideos #vid-box .othercallers::-webkit-scrollbar {
    width: 10px;
}

.otherVideos #vid-box .othercallers::-webkit-scrollbar-thumb{
    border-radius: : 5px;
    background: rgba(0,0,0,0.1);
}
.otherVideos #vid-box .othercallers li{
    position: relative;
    width: 100%;
    height:33%;
    margin: 2px 2px 2px 2px;
    background-color: #111;
    list-style-type: none;
}

.otherVideos #vid-box .othercallers li video{
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
}


.inCall {
  position: absolute;
  width: 100%;
  left:0;
  bottom:5px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.inCall button {
  width: 100px;
  margin: 5px;
  padding: 10px 10px 10px 10px;    
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
  background:#111;
  opacity: 0.3;
  border-radius: 25%;
}

.inCall button:hover {
  background:#112;
  border: solid 3px #10ef5b;
  opacity: 1; 
}

.inCall button:focus {
  outline: none;
}
.mainVideo:hover .inCall {
  opacity: 1;
}


.login .contactslist{
    position: relative;
    width: 100%;
    height: 65%;
    background: #9ffce3;
    border-radius: 10px;
}

.login .contactslist  h3{
    position: relative;
    height: 10%;
    width: 100%;
    font-weight: bold;
    font-size:  20px;
    text-align: center;
    top: 10px;
    color:#fff;
/*    border-bottom: 2px solid #333;*/
}
.login .contactslist  h3 img{
    width: 30px;
    height: 30px;
}

.login .contactslist .sidebar{
    position: relative;
    width:  100%;
    height: 88%;
    background: #b8f1f9;
}
.login .contactslist .sidebar .contacts{
    width: 100%;
    height: 100%;
    overflow-x :hidden;
    overflow-y :scroll; 
    padding: 0px 0px 0px 0px;
}

.login .contactslist .sidebar .contacts::-webkit-scrollbar {
    width: 5px;
}

.login .contactslist .sidebar .contacts::-webkit-scrollbar-thumb{
    border-radius: : 5px;
    background: rgba(96, 106, 24,0.1);
}

.login .contactslist .sidebar .contacts li{
    width: 100%;
    height: 10%;
    margin:3px;
    list-style-type: none;
}
.login .testTools{
    position: relative;
    width: 100%;
    height: 32%;
    border: 2px solid #e7ef8f;
    background: #d9ff89;
    z-index: 1;
}

.login .testTools h4{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.login .testTools form{
    width: 100%;
    margin: 5px;
}
.login .testTools form input[type="text"]{
    position: relative;
    width: 60%;
}

.login .testTools form input[type="submit"]{
    position: relative;
    width: 30%;
}